body {
	font-family: helvetica, sans-serif;
	
	color:#686868;
	width:800px;
	margin:auto;
	}


img { 
  vertical-align: left;
}
    
nav{margin:top;
	}


th{
	text-align:left;
	}

colgroup{
	margin-left:0 0px;
	text-align:top;
}